body {background-color: RGB(199, 160, 44);}

h1 {Size: 8px;}

h3 {Color: Black; Size: 3px; Font: Arial;}

h2 {Color: Red; Size: 3Px; Font: Calibri;} 

h4 {Color: Pink; size: 3px; Font: Silom;}

p {Color: Black; Size: 2px; Font: Times New Roman;}

table {border: 2.5px solid black;

      border-collapse: collapse;

      padding-left: 1px;

      padding-right: 1px;

      padding-top: 1px;

      padding-bottom: 1px;

      text-align: center;}

th {border: 1px solid red;}

tr {border: 1px solid Blue;}

td {border: 1px solid pink;}
