
​
Garcia, Isaiah
​
h1 {Color: Pink; font-family: Times New Roman;}

img {size: 40px;}

P {Color: Black; Size: 11px; Font: Times New Roman;}

ul {Color: Red; Size: 12px; font-family: Times New Roman; font-weight: Bold;}

h2 {Color: Orange; Size: 11px Font: Times New Roman;}

body {background-color: RGB(45, 188, 219)}